@Html.Partial("_ViewKebutuhanDevExpress")

@Html.Partial("_StyleInitiative")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";

    short year = (short)DateTime.Now.Year;
    var profileData = HttpContext.Current.Session["DefaultGAINSess"] as GAIN.Models.LoginSession;
    if(profileData != null)
    {
        year = (short)profileData.ProjectYear;
    }
}

<script type="text/javascript">
    function OnCboYearChanged(s,e)
    {
        //var year = s.GetText();
        GrdInitDeleted.PerformCallback({ selectedKeys: '' });
        @*$.post("@Url.Content("~/ActiveInitiative/ProjectYear")", { Id: id }, function () {
            window.location.reload();
        });*@
    }

    function DeleteSelectedRows(s, e) {
        if (GrdInitDeleted.GetSelectedRowCount() > 0) {
            var selRowKeys = GrdInitDeleted.GetSelectedKeysOnPage();
            if (confirm('Are you sure you want to delete rows with keys: [' + selRowKeys.toString() + ']')) {
                    var result = '';
                    for (var i = 0; i < selRowKeys.length; i++)
                        result += selRowKeys[i] + '|';
                    GrdInitDeleted.PerformCallback({ selectedKeys: result });
            }
        }
        else {
            alert("Please select rows to be deleted.")
        }
    }

    function OnBeginCallback(s, e) {
        e.customArgs["year"] = CboYear.GetText();
    }

    
</script>

<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>ToBe Deleted List in Year: </h2>
                <div class="col-md-1 col-sm-1  ">
                    @Html.Action("CboYear")
                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="col-md-1 col-sm-1 ">
                    @Html.DevExpress().Button(settings =>
               {
                   settings.Name = "btnDanger";
                   settings.Text = "Delete Selected";
                   settings.RenderMode = ButtonRenderMode.Danger;
                   settings.UseSubmitBehavior = false;
                   settings.ClientSideEvents.Click = "DeleteSelectedRows";
               }).GetHtml()
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                @using (Html.BeginForm())
                {
                    @Html.Action("GrdInitDeletedPartial", new { year = year })
                }
                @*<table class="table table-striped jambo_table initiative_table" id="initiative_table" cellspacing="0" width="100%">*@
            </div>
        </div>
    </div>
</div>

