@{
    var profileData = this.Session["DefaultGAINSess"] as GAIN.Models.LoginSession;
    string UploadDirectory = System.Configuration.ConfigurationManager.AppSettings["UPLOADEDPATH"];
    var years_right = profileData.years_right;
}


@Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.VerticalGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.QueryBuilder },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        //new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }

    )

@Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        //new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.RichEdit },
        //new Script { ExtensionSuite = ExtensionSuite.Editors },
        //new Script { ExtensionSuite = ExtensionSuite.VerticalGrid },
        new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
        //new Script { ExtensionSuite = ExtensionSuite.Chart },
        //new Script { ExtensionSuite = ExtensionSuite.Report },
        //new Script { ExtensionSuite = ExtensionSuite.QueryBuilder },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        //new Script { ExtensionSuite = ExtensionSuite.TreeList },
        new Script { ExtensionSuite = ExtensionSuite.Dashboard }

    )

<link rel="stylesheet" href="@Url.Content("~/assets/poin/css/main.css?v=" + DateTime.Now.Ticks.ToString())">



<style type="text/css">
    .top_nav .navbar-right {
        height: 40px;
    }
    .dxgvHeader_Aqua {
        cursor: pointer;
        white-space: nowrap;
        padding: 7px 6px;
        border-top: 1px none orange;
        border: 1px solid orange;
        /*background: #4c5471 !important;*/
        overflow: hidden;
        font-weight: normal;
        text-align: left;
    }
    .dxpLite_Aqua, .dxpLite_Aqua .dxp-summary, .dxpLite_Aqua .dxp-ellip, .dxgvControl_Aqua .dxpLite_Aqua .dxp-pageSizeItem {
        color: floralwhite;
    }
    .dxpLite_Aqua .dxp-dropDownButton {
        padding: 10px 6px 10px 6px;
    }
    .dxgvAdaptiveGroupPanel_Aqua, .dxgvGroupPanel_Aqua, .dxgvPagerBottomPanel_Aqua, .dxgvPagerTopPanel_Aqua {
        color: floralwhite;
        border-bottom: 1px Solid #A3C0E8;
        background: #3D5294 url('@Url.Content("~/assets/poin/DevEpress/img/DXR_1.gif")') repeat-x top;
    }
    .dxgvSelectedRow_Aqua, .dxgvFocusedRow_Aqua, .dxgvFocusedRow_Aqua a.dxeHyperlink_Aqua {
        color: #dc3545;
        background-color: blanchedalmond;
    }
    .dxIcon_actions_delete_16x16devav {
        background-position: -252px -18px;
    }
    .dxIcon_actions_edit_16x16devav {
        background-position: -306px -18px;
    }
    .dxIcon_support_info_16x16 {
        background-position: 0px 0px;
    }
    .dxIcon_actions_edit_16x16devav, .dxIcon_actions_edit_16x16devav_disabled,
    .dxIcon_support_info_16x16, .dxIcon_support_info_16x16devav, .dxIcon_support_info_16x16_disabled,
    .dxIcon_actions_delete_16x16devav, .dxIcon_actions_delete_16x16devav, .dxIcon_actions_delete_16x16devav
    {
        background-image: url('@Url.Content("~/assets/poin/DevEpress/img/DXR_2.png")');
        background-repeat: no-repeat;
        background-color: transparent;
        width: 16px;
        height: 16px;
    }
    .dxpcLite_Aqua .dxpc-mainDiv, .dxpcLite_Aqua.dxpc-mainDiv, .dxdpLite_Aqua .dxpc-mainDiv, .dxdpLite_Aqua.dxpc-mainDiv {
        FONT-WEIGHT: 200;
        top: 0;
        left: 0;
        background-color: rgb(236,236,236);
    }
    .dxpcLite_Aqua .dxpc-footer, .dxpcLite_Aqua .dxpc-header, .dxdpLite_Aqua .dxpc-header {
        color: white;
        background: #3D5294 url('@Url.Content("~/assets/poin/DevEpress/img/DXR_1.gif")') repeat-x top;
        border-top: 1px none #CCCCCC;
        border-right: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
    }
    /*    .dxpLite_Aqua, .dxgvFilterRow_Aqua {
        background: lightskyblue;
    }*/
    .dxpLite_Aqua.dxgvRBB.dxgvHHEC {
        background-color: #C7EAFA;
    }
    .ComboCSS {
        /*display: block;*/
        width: 100%;
        height: calc(1.5em + .75rem + 1px);
        font-size: 11pt;
        /*padding: .375rem .75rem;*/
        /*font-size: 1rem;*/
        /*font-weight: 400;*/
        /*line-height: 1.5;*/
        /*color: #495057;*/
        /*background-color: #fff;*/
        /*background-clip: padding-box;*/
        /*border: 1px solid #ced4da;*/
        /*border-radius: .25rem;*/
        /*transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
    }
</style>

<style type="text/css" media="all">
    @@media(min-width:768px) {
        .col-md-3a {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 28%;
        }

        .col-md-9a {
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 78%;
        }
    }

    @@media(min-width:1200px) {
        .row {
            margin-left: -30px;
            padding-left: 11px;
            *zoom: 1;
        }

            .row:before,
            .row:after {
                display: table;
                line-height: 0;
                content: "";
            }

            .row:after {
                clear: both;
            }

        [class*="span"] {
            float: left;
            min-height: 1px;
            margin-left: 30px;
        }
        /*
                .container,
                .navbar-static-top .container,
                .navbar-fixed-top .container,
                .navbar-fixed-bottom .container {
                    width: 1170px;
                }*/
        .span12 {
            width: 1000px;
        }

        .span11 {
            width: 1070px;
        }

        .span10 {
            width: 970px;
        }

        .span9 {
            width: 870px;
        }

        .span8 {
            width: 770px;
        }

        .span7 {
            width: 670px;
        }

        .span6 {
            width: 570px;
        }

        .span5 {
            width: 470px;
        }

        .span4 {
            width: 370px;
        }

        .span3 {
            width: 270px;
        }

        .span2 {
            width: 170px;
        }

        .span1 {
            width: 70px;
        }

        .offset12 {
            margin-left: 1230px;
        }

        .offset11 {
            margin-left: 1130px;
        }

        .offset10 {
            margin-left: 1030px;
        }

        .offset9 {
            margin-left: 930px;
        }

        .offset8 {
            margin-left: 830px;
        }

        .offset7 {
            margin-left: 730px;
        }

        .offset6 {
            margin-left: 630px;
        }

        .offset5 {
            margin-left: 530px;
        }

        .offset4 {
            margin-left: 430px;
        }

        .offset3 {
            margin-left: 330px;
        }

        .offset2 {
            margin-left: 230px;
        }

        .offset1 {
            margin-left: 130px;
        }

        .row-fluid {
            width: 100%;
            margin-top: -3px;
            margin-bottom: 10px;
            *zoom: 1;
        }

        .row-fluid2 {
            width: 100%;
            height: 10px;
            *zoom: 1;
        }

        .row-fluid:before,
        .row-fluid:after {
            display: table;
            line-height: 0;
            content: "";
        }

        .row-fluid:after {
            clear: both;
        }

        .row-fluid [class*="span"] {
            display: block;
            float: left;
            width: 100%;
            min-height: 30px;
            margin-left: 2.564102564102564%;
            *margin-left: 2.5109110747408616%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .row-fluid [class*="span"]:first-child {
                margin-left: 0;
            }

        .row-fluid .controls-row [class*="span"] + [class*="span"] {
            margin-left: 2.564102564102564%;
        }

        .row-fluid .jarak-atas {
            padding-top: 5px;
        }

        .row-fluid .span12 {
            width: 100%;
            *width: 99.94680851063829%;
        }

        .row-fluid .span11 {
            width: 91.45299145299145%;
            *width: 91.39979996362975%;
        }

        .row-fluid .span10 {
            width: 82.90598290598291%;
            *width: 82.8527914166212%;
        }

        .row-fluid .span9 {
            width: 74.35897435897436%;
            *width: 74.30578286961266%;
        }

        .row-fluid .span8 {
            width: 65.81196581196582%;
            *width: 65.75877432260411%;
        }

        .row-fluid .span7 {
            width: 57.26495726495726%;
            *width: 57.21176577559556%;
        }

        .row-fluid .span6 {
            width: 48.717948717948715%;
            *width: 48.664757228587014%;
        }

        .row-fluid .span5 {
            width: 40.17094017094017%;
            *width: 40.11774868157847%;
        }

        .row-fluid .span4 {
            width: 31.623931623931625%;
            *width: 31.570740134569924%;
        }

        .row-fluid .span3 {
            width: 23.076923076923077%;
            *width: 23.023731587561375%;
        }

        .row-fluid .span2 {
            width: 14.52991452991453%;
            *width: 14.476723040552828%;
        }

        .row-fluid .span1 {
            width: 7%;
            *width: 5.929714493544281%;
        }

        .row-fluid .offset12 {
            margin-left: 105.12820512820512%;
            *margin-left: 105.02182214948171%;
        }

            .row-fluid .offset12:first-child {
                margin-left: 102.56410256410257%;
                *margin-left: 102.45771958537915%;
            }

        .row-fluid .offset11 {
            margin-left: 96.58119658119658%;
            *margin-left: 96.47481360247316%;
        }

            .row-fluid .offset11:first-child {
                margin-left: 94.01709401709402%;
                *margin-left: 93.91071103837061%;
            }

        .row-fluid .offset10 {
            margin-left: 88.03418803418803%;
            *margin-left: 87.92780505546462%;
        }

            .row-fluid .offset10:first-child {
                margin-left: 85.47008547008548%;
                *margin-left: 85.36370249136206%;
            }

        .row-fluid .offset9 {
            margin-left: 79.48717948717949%;
            *margin-left: 79.38079650845607%;
        }

            .row-fluid .offset9:first-child {
                margin-left: 76.92307692307693%;
                *margin-left: 76.81669394435352%;
            }

        .row-fluid .offset8 {
            margin-left: 70.94017094017094%;
            *margin-left: 70.83378796144753%;
        }

            .row-fluid .offset8:first-child {
                margin-left: 68.37606837606839%;
                *margin-left: 68.26968539734497%;
            }

        .row-fluid .offset7 {
            margin-left: 62.393162393162385%;
            *margin-left: 62.28677941443899%;
        }

            .row-fluid .offset7:first-child {
                margin-left: 59.82905982905982%;
                *margin-left: 59.72267685033642%;
            }

        .row-fluid .offset6 {
            margin-left: 53.84615384615384%;
            *margin-left: 53.739770867430444%;
        }

            .row-fluid .offset6:first-child {
                margin-left: 51.28205128205128%;
                *margin-left: 51.175668303327875%;
            }

        .row-fluid .offset5 {
            margin-left: 45.299145299145295%;
            *margin-left: 45.1927623204219%;
        }

            .row-fluid .offset5:first-child {
                margin-left: 42.73504273504273%;
                *margin-left: 42.62865975631933%;
            }

        .row-fluid .offset4 {
            margin-left: 36.75213675213675%;
            *margin-left: 36.645753773413354%;
        }

            .row-fluid .offset4:first-child {
                margin-left: 34.18803418803419%;
                *margin-left: 34.081651209310785%;
            }

        .row-fluid .offset3 {
            margin-left: 28.205128205128204%;
            *margin-left: 28.0987452264048%;
        }

            .row-fluid .offset3:first-child {
                margin-left: 25.641025641025642%;
                *margin-left: 25.53464266230224%;
            }

        .row-fluid .offset2 {
            margin-left: 19.65811965811966%;
            *margin-left: 19.551736679396257%;
        }

            .row-fluid .offset2:first-child {
                margin-left: 17.094017094017094%;
                *margin-left: 16.98763411529369%;
            }

        .row-fluid .offset1 {
            margin-left: 11.11111111111111%;
            *margin-left: 11.004728132387708%;
        }

            .row-fluid .offset1:first-child {
                margin-left: 8.547008547008547%;
                *margin-left: 8.440625568285142%;
            }

        input,
        textarea,
        .uneditable-input {
            margin-left: 0;
        }

        .controls-row [class*="span"] + [class*="span"] {
            margin-left: 30px;
        }

        input.span12,
        textarea.span12,
        .uneditable-input.span12 {
            width: 1156px;
        }

        input.span11,
        textarea.span11,
        .uneditable-input.span11 {
            width: 1056px;
        }

        input.span10,
        textarea.span10,
        .uneditable-input.span10 {
            width: 956px;
        }

        input.span9,
        textarea.span9,
        .uneditable-input.span9 {
            width: 856px;
        }

        input.span8,
        textarea.span8,
        .uneditable-input.span8 {
            width: 756px;
        }

        input.span7,
        textarea.span7,
        .uneditable-input.span7 {
            width: 656px;
        }

        input.span6,
        textarea.span6,
        .uneditable-input.span6 {
            width: 556px;
        }

        input.span5,
        textarea.span5,
        .uneditable-input.span5 {
            width: 456px;
        }

        input.span4,
        textarea.span4,
        .uneditable-input.span4 {
            width: 356px;
        }

        input.span3,
        textarea.span3,
        .uneditable-input.span3 {
            width: 256px;
        }

        input.span2,
        textarea.span2,
        .uneditable-input.span2 {
            width: 156px;
        }

        input.span1,
        textarea.span1,
        .uneditable-input.span1 {
            width: 56px;
        }

        .thumbnails {
            margin-left: -30px;
        }

            .thumbnails > li {
                margin-left: 30px;
            }

        .row-fluid .thumbnails {
            margin-left: 0;
        }
    }


    @@media screen and (min-width:1200px) {
        .row-fluid .span2a {
            width: 8.6%;
            *width: 8.6%
        }

        .row-fluid .span2b {
            width: 19.7%;
            *width: 19.7%
        }

        .row-fluid .span3a {
            width: 20%;
            *width: 11%
        }

        .inputan-popup {
            width: 175px;
        }
    }
</style>

<script type="text/javascript">var user_type = '@profileData.UserType'; var years_right = '@profileData.years_right'; var projectYear = '@profileData.ProjectYear'; var UrlContent = '@Url.Content("~/")'; var SystemYearNow = '@profileData.ProjectYear'; var UploadDirectory = @Url.Content(System.Configuration.ConfigurationManager.AppSettings["UPLOADEDPATH"]);</script>
<script src="@Url.Content("~/assets/poin/js/maingrid.js?v=" + DateTime.Now.Ticks.ToString())" type="text/javascript"></script>


@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTable.cshtml"; }
<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Active Initiative of the year: </h2>
                <div class="col-md-1 col-sm-1  ">
                    @Html.Action("CboYear")
                </div>
                <div class="col-md-1 col-sm-1  ">
                    @Html.Action("CboMonth")
                </div>
                <div class="col-md-9a col-sm-9">
                    <div style="float:left;">
                        @*<a id="BtnInitiative" class="btn btn-app btn-primary"><i class="fa fa-edit"></i> Add New</a>&nbsp;
                            <a class="btn btn-app btn-success" id="BtnExportXls" onclick="BtnExportXls();"><i class="fa fa-file-excel-o"></i> Export Excel</a>&nbsp;
                            <a class="btn btn-app btn-danger" id="BtnExportPdf" onclick="BtnExportPdf();"><i class="fa fa-file-pdf-o"></i> Export PDF</a>&nbsp;*@
                        <button class="btn btn-primary" id="BtnInitiative" style="font-size:9pt;color:white;background-color:#007bff;"><i class="fa fa-edit"></i> Create New</button>
                        <button class="btn btn-primary" id="BtnProcurement" style="font-size:9pt;color:white;background-color:#007bff;"><i class="fa fa-edit"></i> Procurement</button>
                        <button class="btn btn-success" id="BtnExportXls" onclick="BtnExportXls();" style="font-size:9pt;color:white;background-color:#26B99A;"><i class="fa fa-file-excel-o"></i> Export Excel</button>

                        @*<button class="btn btn-danger" id="BtnExportPdf" onclick="BtnExportPdf();" style="font-size:9pt;color:white;background-color:#dc3545;"><i class="fa fa-file-pdf-o"></i> Export PDF</button>*@
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.Action("GrdMainInitiativePartial")
                }
                @*<table class="table table-striped jambo_table initiative_table" id="initiative_table" cellspacing="0" width="100%">*@
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/assets/poin/js/jquery.rollNumber.js?v=" + DateTime.Now.Ticks.ToString())"></script>
<script src="@Url.Content("~/assets/poin/js/main.js?v=" + DateTime.Now.Ticks.ToString())"></script>

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "WindowInitiative";
    settings.Width = 1760;
    settings.Height = 800;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.AllowResize = true;
    settings.ShowHeader = true;
    settings.ShowFooter = true;
    settings.ShowOnPageLoad = false;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.CloseOnEscape = true;
    settings.ClientSideEvents.CloseUp = "OnCloseNewInitiativeWindow";
    settings.Modal = true;
    //settings.PopupElementID = "BtnInitiative";
    settings.HeaderText = "GAIN - Create New / Edit Initiative";
    settings.FooterText = "GAIN - CMACGM Copyright @" + DateTime.Now.Year + ". APAC DIGITAL FACTORY - CMA-CGM";

    settings.SetContent(() =>
    {
        //ViewContext.Writer.Write("Popup control content");
        Html.RenderPartial("_NewInitiative");
    });
}).GetHtml()

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "WindowOkSaved";
    settings.Width = 250;
    settings.Height = 130;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.AllowResize = false;
    settings.ShowHeader = true;
    settings.ShowFooter = true;
    settings.ShowOnPageLoad = false;
    settings.AllowDragging = false;
    settings.CloseAction = CloseAction.OuterMouseClick;
    settings.CloseOnEscape = true;
    //settings.ClientSideEvents.CloseUp = "OnCloseNewInitiativeWindow";
    settings.Modal = true;
    settings.HeaderText = "Saved";
    settings.FooterText = "Copyright GAIN @" + DateTime.Now.Year + ". APAC DIGITAL FACTORY - CMA-CGM";

    settings.SetContent(() =>
    {
        ViewContext.Writer.Write("<h4>Okay! Data Saved.</h4><br/><h6><span id=\"initsukses\"></span></h6><br/><br/><br/><br/><br/><div style='float:right'><button class='btn btn-info' onclick='WindowOkSaved.Hide();GrdMainInitiative.Refresh();'>Close</button></div>");
    });
}).GetHtml()

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "WindowEventReview";
    settings.Width = 1050;
    settings.Height = 500;
    settings.ShowPageScrollbarWhenModal = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.AllowResize = false;
    settings.ShowHeader = true;
    settings.ShowFooter = true;
    settings.ShowOnPageLoad = false;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.CloseOnEscape = true;
    settings.Modal = true;
    settings.HeaderText = "GAIN - Event Review Window";
    settings.FooterText = "GAIN - CMACGM Copyright @" + DateTime.Now.Year + ". APAC DIGITAL FACTORY - CMA-CGM";

    settings.SetContent(() =>
    {
        //Html.Action("GrdEventReviewPartial", "EventReview");

        ViewContext.Writer.Write("" +
            "<div class=\"row\" style=\"display: block;\"> " +
            "    <div class=\"col-md-12 col-sm-12\">" +
            "        <div class=\"col-md-10 col-sm-10\">" +
            "            <h2 class=\"titleinitiative\"></h2> " +
            "        </div> " +
            "        <div class=\"col-md-2 col-sm-2\"> " +
            "            <div style=\"float:right;\"> " +
            "                &nbsp; " +
            "            </div> " +
            "        </div> " +
            "    </div> " +
            "</div> ");

        Html.RenderPartial("_GrdEventReviewPartial");

        ViewContext.Writer.Write("" +
        "<div class=\"row\"><br /></div> " +
        "" +
        "<div class=\"row\" style=\"display: block;\">" +
        "    <div class=\"col-md-12 col-sm-12\">" +
        "        <div class=\"col-md-10 col-sm-10\">" +
        "            &nbsp;" +
        "        </div>" +
        "        <div class=\"col-md-2 col-sm-2\">" +
        "            <div style=\"float:right;\">" +
        "                <button class=\"btn btn-danger\" onclick=\"WindowEventReview.Hide();\">Close</button>" +
        "            </div>" +
        "        </div>" +
        "    </div>" +
        "</div>");

    });
}).GetHtml()

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "WindowComment";
    settings.Width = 1260;
    settings.Height = 800;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.AllowResize = true;
    settings.ShowHeader = true;
    settings.ShowFooter = true;
    settings.ShowOnPageLoad = false;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.CloseOnEscape = true;
    settings.Modal = true;
    settings.HeaderText = "GAIN - Comment Window";
    settings.FooterText = "GAIN - CMACGM Copyright @" + DateTime.Now.Year + ". APAC DIGITAL FACTORY - CMA-CGM";

    settings.SetContent(() =>
    {
        //ViewContext.Writer.Write("Popup control content");
        Html.RenderPartial("_Comment");
    });
}).GetHtml()

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "WindowUpload";
    settings.Width = 1260;
    settings.Height = 800;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.AllowResize = true;
    settings.ShowHeader = true;
    settings.ShowFooter = true;
    settings.ShowOnPageLoad = false;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.CloseOnEscape = true;
    settings.Modal = true;
    settings.HeaderText = "GAIN - Upload Window";
    settings.FooterText = "GAIN - CMACGM Copyright @" + DateTime.Now.Year + ". APAC DIGITAL FACTORY - CMA-CGM";

    settings.SetContent(() =>
    {
        Html.RenderPartial("_UploadPage");
    });
}).GetHtml()

