<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>G.A.I.N - CMA CGM Group</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/assets/poin/vendors/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="@Url.Content("~/assets/poin/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <!-- NProgress -->
    <link href="@Url.Content("~/assets/poin/vendors/nprogress/nprogress.css")" rel="stylesheet">
    <!-- Animate.css -->
    <link href="@Url.Content("~/assets/poin/vendors/animate.css/animate.min.css")" rel="stylesheet">

    <!-- Custom Theme Style -->
    @*<link href="@Url.Content("~/assets/poin/build/css/custom.min.css")" rel="stylesheet">*@

    <style type="text/css">
        input[type="text"]:focus, input[type="password"]:focus {
            background-color: lightgray;
        }
        input[type="text"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder {
            color: Highlight;
        }
    </style>
</head>

<body class="login">
    <div class="startslide"></div>
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="text-center">
                        <p class="cmr-login-title mt-2 mb-4">&nbsp;</p><p class="cmr-login-title mt-2 mb-4">&nbsp;</p><p class="cmr-login-title mt-2 mb-4">&nbsp;</p>
                        <a href="#">
                            <span><img src="@Url.Content("~/assets/poin/backstretch/images/logocma.png")" alt="" height="60"></span>
                        </a>
                        <p class="cmr-login-title mt-2 mb-4">&nbsp;</p>
                    </div>
                    <div class="card cmr-card-login" style="opacity:90%;">
                        <div class="card-body p-4">
                            <div class="text-center mb-4">
                                <h2 class="text-uppercase mt-0">SIGN IN</h2><h4>TO YOUR ACCOUNT</h4>
                                <p><h6 style="color:red;">@Html.ValidationMessage("CustomError")</h6></p>
                            </div>
                            <!--<section class="login_content"> -->
                                <form method="post" name="FrmLogin" action="@Url.Content("~/Login/Loginpost")">
                                    <div class="form-group mb-3">
                                        <label for="Username">Username</label>
                                        <input name="Username" class="form-control" type="text" id="Username" required="" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="password">AD/Local Password</label>
                                        <input name="Password" class="form-control" type="password" required="" id="password" placeholder="AD/Local Password" value="">

                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                                            <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 text-center">
                                        @*<button id="log-in-btn" class="btn btn-primary btn-block" type="button">Log In </button>*@
                                        <input class="btn btn-primary btn-block" type="submit" value="Log In"/>
                                    </div>
                                </form>
                            <!-- </section> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form method="post" name="FrmLogin" action="@Url.Content("~/Login/Loginpost")">
                        <h1>Login Form</h1>
                        <div>
                            <input type="text" class="form-control" name="UserName" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" name="Password" placeholder="Password" required="" />
                        </div>
                        <div>
                            <input class="btn btn-default" type="submit" value="Submit" />
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h2>@Html.ValidationMessage("CustomError")</h2>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>*@
    </div>

    <script src="@Url.Content("~/assets/poin/backstretch/libs/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/assets/poin/backstretch/src/jquery.backstretch.js")"></script>

    <script type="text/javascript">
        $(function () {
            $.backstretch([
                '@Url.Content("~/assets/poin/backstretch/images/cma2.jpg")',
                '@Url.Content("~/assets/poin/backstretch/images/cma4.jpg")',
                '@Url.Content("~/assets/poin/backstretch/images/cma5.jpg")',
                '@Url.Content("~/assets/poin/backstretch/images/cma3.jpg")'
            ]);
        });
    </script>
</body>
</html>
