<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="Responsive Bootstrap 4 Dashboard Template">
    <meta name=author content=BootstrapDash>
    <title>G.A.I.N - CMA CGM Group</title>
    <link href="@Url.Content("~/assets/loginpage/lib/fontawesome-free/css/all.min.css")" rel=stylesheet>
    <link href="@Url.Content("~/assets/loginpage/lib/ionicons/css/ionicons.min.css")" rel=stylesheet>
    <link href="@Url.Content("~/assets/loginpage/lib/typicons.font/typicons.css")" rel=stylesheet>
    <link rel=stylesheet href="@Url.Content("~/assets/loginpage/css/azia.css")">
    <style type=text/css>
        .input-group-addon {
            padding: .5rem .75rem;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.25;
            color: #495057;
            text-align: center;
            background-color: #e9ecef;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;
            white-space: nowrap;
            vertical-align: middle;
            align-items: center;
            display: flex;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0
        }
        .az-column-signup {opacity:70%}
    </style>
</head>

@*<img src="@Url.Content("~/assets/poin/backstretch/images/logocma.png")" height=120>*@
<body class="az-body">
    <div class="az-signup-wrapper">
        <div id="block2" style="top:0px; width: 80%;"
             data-vide-bg="mp4: assets/poin/images/cmacgm, poster: assets/poin/images/cmacgm"
             data-vide-options="posterType: jpg, position: 0% 50%">
        </div>
    <!--<div class="az-column-signup-left" >-->
    @*<div> <i class="typcn typcn-chart-bar-outline"></i><h1 class=az-logo>az<span>i</span>a</h1><h5>Responsive Modern Dashboard &amp; Admin Template</h5><p>We are excited to launch our new company and product Azia. After being featured in too many magazines to mention and having created an online stir, we know that BootstrapDash is going to be big. We also hope to win Startup Fictional Business of the Year this year.</p><p>Browse our site and see for yourself why you need Azia.</p> <a href=index.html class="btn btn-outline-indigo">Learn More</a></div>*@
    <!--</div>-->
    
    <div class=az-column-signup> @*<h1 class=az-logo><center><span><img src="@Url.Content("~/assets/poin/backstretch/images/logocma.png")" height=250></span></center></h1>*@<h1 class=az-logo><center><span><img src="@Url.Content("~/assets/loginpage/Main_Logo_New.png")" style="padding:100px 0 0 100px"></span></center></h1><div class=az-signup-header><h2>GAIN CAP500 v.@ViewContext.Controller.GetType().Assembly.GetName().Version</h2><h4>Please login using your credential.</h4><p><h6 style=color:red>@Html.ValidationMessage("CustomError")</h6></p><form method=post name=FrmLogin action="@Url.Content("~/Login/Loginpost")"><div class=form-group> <label>Username</label> <input id=Username name=Username type=text class=form-control placeholder="Enter your Username"></div><div class=form-group> <label>AD Password</label><div class=input-group id=show_hide_password> <input id=password name=password class=form-control type=password placeholder="Enter your AD password" /><div class=input-group-addon> <a href=javascript:void(0)><i class="fa fa-eye-slash" aria-hidden=true></i></a></div></div></div> <button class="btn btn-az-primary btn-block">Submit</button></form><center><p><span><div style="background-color: lightgoldenrodyellow; color:black; opacity: 0.8; padding: 20px 20px 20px 20px; width: 400px; -webkit-border-bottom-left-radius: 15px; border-bottom-left-radius: 15px; -webkit-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px; -webkit-border-top-left-radius: 15px; border-top-left-radius: 15px; -webkit-border-top-right-radius: 15px; border-top-right-radius: 15px; border-width: 4px; border-color: black;"><i>Your User Name, CMA AD ID and Email address will be collected for login purposes, to record all value changes made by you in this application, or to remind you to submit monthly progress report on time. Only authorized users to the application would have access to your personal data. Such data would not be transferred outside of CMA CGM. You can opt out of the use of your personal data by contacting the Application Team via EUP, but please be aware that such opt-out will cause operational difficulties.</i></div></span></p></center></div><div class=az-signup-footer><p>Copyright 2021. Provided by CMA-CGM <a href=mailto:asia.itretsupport@cma-cgm.com>APAC Digital Factory</a></p></div></div></div>
    <script src="@Url.Content("~/assets/loginpage/lib/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/loginpage/lib/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/loginpage/lib/ionicons/ionicons.js")"></script>
    <script src="@Url.Content("~/assets/loginpage/js/azia.js")"></script>
    <script src="@Url.Content("~/assets/poin/js/jquery.vide.js")"></script>

    @*<script>$(function () { });</script>
    <script src="@Url.Content("~/assets/poin/backstretch/libs/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/assets/poin/backstretch/src/jquery.backstretch.js")"></script>
    <script type=text/javascript>$(function(){$.backstretch(['@Url.Content("~/assets/poin/backstretch/images/cma2.jpg")','@Url.Content("~/assets/poin/backstretch/images/cma4.jpg")','@Url.Content("~/assets/poin/backstretch/images/cma5.jpg")','@Url.Content("~/assets/poin/backstretch/images/cma3.jpg")'],{fade:1500,transitionDuration:5000});$("#show_hide_password a").on("click",function(){if($("#show_hide_password input").attr("type")=="text"){$("#show_hide_password input").prop("type","password");$("#show_hide_password i").addClass("fa-eye-slash");$("#show_hide_password i").removeClass("fa-eye")}else{if($("#show_hide_password input").attr("type")=="password"){$("#show_hide_password input").prop("type","text");$("#show_hide_password i").removeClass("fa-eye-slash");$("#show_hide_password i").addClass("fa-eye")}}})});</script>*@
</body>
</html>